@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    vertical-align: middle;
}
body { font-family: 'Inter', sans-serif; }
.glass-panel {
    background: rgba(22, 26, 30, 0.8);
    backdrop-filter: blur(20px);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
